.dev-b * {
    border: 1px solid red;
}

.hover:hover {
    cursor: help;
}

.wrap {
    word-wrap: break-word;
}

.challenge {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
}

.challenge .details {
    max-width: 91%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.challenge button#more {
    position: absolute;
    top: -8px;
    right: 0;
}

.mt-6 {
    margin-top: 4rem !important;
}

.mt-7 {
    margin-top: 5rem !important;
}

.media {
    margin: 10px 0;
    max-width: 100%;
    max-height: 500px;
    border: 1px solid black;
}

.card-response {
    width: 80%;
    margin-bottom: 50px;
}

@media (max-height: 700px) {
    .mb-9 {
        margin-bottom: 90px;
    }

    .mt-9 {
        margin-top: 90px;
    }
}

@media (max-width: 1320px) {
    .card-response {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 1000px) {
    .md-display-none {
        display: none !important;
    }
}